<!DOCTYPE html>
<html xmlns:th="https://www.thymLeaf.org">
<head>
    <title>Notorious</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(to bottom, #ff9900, #ff3300); /* You can change the background colors here */
        }

        h1 {
            text-align: center;
            color: white; /* You can change the text color here */
        }
    </style>
</head>
<body>
    <h1>Welcome to The Notorious World</h1>
</body>
</html>
